<section class="hero-section text-white">
  <div class="container">
    <div class="text-center">
      <img src="assets/images/logo_BitThreads.png" alt="BitThreads Logo" draggable="false" height="100" />
    </div>
    <h1 class="text-center mt-4">Bem-vindo ao BitThreads!</h1>
    <p class="text-center">Conecte-se com amigos e explore o que está acontecendo agora.</p>
    <div class="text-center">
      <a href="#" class="btn btn-light btn-lg">Cadastre-se Agora</a>
    </div>
  </div>
</section>

<!-- Feature Section -->
<section class="feature-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fab fa-facebook feature-icon"></i>
        <h3 class="feature-title">Conecte-se com Amigos</h3>
        <p class="feature-description">Mantenha contato com amigos e familiares, e compartilhe suas atualizações com eles instantaneamente.</p>
      </div>
      <div class="col-md-4">
        <i class="fab fa-instagram feature-icon"></i>
        <h3 class="feature-title">Descubra Inspirações</h3>
        <p class="feature-description">Explore fotos, vídeos e histórias de pessoas que você segue e tópicos que te interessam.</p>
      </div>
      <div class="col-md-4">
        <i class="fab fa-twitter feature-icon"></i>
        <h3 class="feature-title">Participe da Conversa</h3>
        <p class="feature-description">Siga o que as pessoas estão falando. Participe da conversa e expresse-se.</p>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action Section -->
<section class="cta-section">
  <div class="container">
    <h2 class="cta-title">Pronto para Começar?</h2>
    <p>Cadastre-se agora e comece a se conectar com pessoas!</p>
    <a href="#" class="btn btn-primary btn-lg">Cadastre-se</a>
  </div>
</section>

